{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="imagestoedit">

    {% for image in pictures %}
      <img src="{{image.image.url}}" data-target="#deleteModal{{image.id}}" data-toggle="modal" alt="">
    {% endfor %}
  </section>

  <!--modal-->
    {% for image in pictures %}
      <div class="modal fade" id="deleteModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <img src="{{image.image.url}}" data-target="#deleteModal{{image.id}}" data-toggle="modal" alt="">
              <div class="modal-header">
              <h4 id="modal-text text-center">{{image.name}}</h4>
            </div>

            <div class="modal-footer">

              <input class="form-control" type="text" value="{{image.image.url}}" id="link">
              <a onclick="copyLink()"><button type="button"  class="btn btn-outline-secondary my-2 my-sm-0 link-btn">Copy Photo Link</button></a>
            </div>
            <div class="modal-footer">

              <h5 id=modal-text>{{image.description}}</h5>

              <button type="button" class="btn btn-outline-secondary my-2 my-sm-0" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}

   {% endblock %}

