{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if pictures%}
      <h2> Here are {{ image|length }} images of your search term! {{message}}</h2>
    {% else %}
      <h2> It appears that there are 0 images for your search term, please try again {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">



  {% if pictures %}
    {% for image in pictures %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.title}}</h1>
          <img src="{{image.image.url}}" alt="">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}